@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Kanit', serif, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: x-small;
    background-color: #ffffff;
    margin: 0; /* Remove default margin */
    padding-top: 0; /* Remove default padding */
}

#containerDropDowns
{
    margin-left: 10px;
}


/* container for drop downs */
.container {
    position: relative; 
    max-width: 200px;
    width: 100%;
    margin: 10px auto; 
    float: left;
}

.select-btn {
    display: flex;
    height: 35px; 
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.select-btn .btn-txt {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.select-btn .arrow-dwn {
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #6e93d7;
    align-items: center;
    justify-content: center;
}

.list-items {
    position: absolute; 
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 10; /* Ensure it appears above other elements */
}

.list-items .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 30px; /* Adjusted height */
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}

.list-items .item:hover {
    background-color: #e7edfe;
}

.item .item-text {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}
.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.checkbox.checked {
    background-color: #6e93d7;
}
.checkbox .check-icon {
    font-size: 11px;
    transform: scale(0);
}
.checkbox.checked .check-icon {
    transform: scale(1);
}
h1 {
    color: purple;
    margin-left: 10px;
}
/* Move search bar to the left */
.dataTables_filter {
    float: left !important;
 }

 .table-container {
    width: 100%; /* Adjust the width */
    padding: 0 5%; /* Add padding on both sides */
    margin: 0 auto; /* Center the container */
    box-sizing: border-box;
    overflow-x: auto; /* Enable horizontal scrolling */
}

#mytable {
    width: 100%; /* Ensure the table takes full width of its container */
    margin-bottom: 5px;
    font-size: 12px;
}

/* Style the submit button */
.submit-btn {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: purple;
    border: none;
    border-radius: 5px;
    cursor: pointer;  
    position: relative; 
    top: 10px; /* Position it at the bottom */
    left: 10px; /* Position it at the left */
}

.submit-btn:hover {
    background-color: darkviolet;
}


/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}