/* Disable scrolling on main page. */
html, body {
    height: 100%;
    overflow: hidden
}

body {
    font-family: 'Tahoma', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: small;
}
button {
    cursor: pointer;
}
#options-and-info {
    background-color: #f1f1f1;
    justify-content: center;
    border: 3px solid black;
    margin-bottom: 10px;
}
#options-and-info-divider {
    background-color: black;
    width: 100%;
    height: 1px;
}
#options, #game-info {
    display: flex;
    padding: 5px;
}
.option, .info {
    margin-left: auto;
    margin-right: auto;
}
select, button {
    font-family: 'Tahoma', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: small;
}
#game-count {
    width: 50px;
}
#game-stats, #prompt-info {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    margin-top: 10px;
    padding: 5px;
    border: 3px solid black;
}
#stats-table {
    width: 90%;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.stats-row {
    display: table-row;
}
.stats-header, .stats-cell {
    display: table-cell;
    text-align: center;
    padding: 3px;
}
.stats-header {
    background-color: black;
    color: white;
}
.stats-cell {
    border: 1px solid black;
}
.popup-container {
    display: none;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    background-color: #f1f1f1;
    font-size: large;
    padding: 5px;
    border: 3px solid black;
}
.popup-close-btn-container {
    text-align: right;
}
.popup-close-btn {
    width: 50px;
    height: 50px;
    font-size: 30px;
    color: red;
}
#prompt-info {
    display: none;
}
#manage-llms {
    width: 90%;
    height: 75%;
}
#llm-name-container {
    display: inline;
}
#llm-url-label, #llm-url {
    display: none;
}
#llm-supports-images, #llm-supports-images-label {
    display: none;
}
#add-llm-btn {
    font-size: large;
    margin-top: 10px;
    padding: 5px;
}
#llm-table {
    display: block;
    height: 300px;
    margin-top: 10px;
    overflow: auto;
    border: 3px solid black;
}
#llm-table-body {
    width: 100%;
    display: table-row-group;
}
.llm-table-row {
    width: 100%;
    display: table-row;
}
.llm-table-cell {
    display: table-cell;
    padding: 10px;
}
.llm-table-cell:nth-child(1) {
    width: 15%;
}
.llm-table-cell:nth-child(2) {
    width: 15%;
}
.llm-table-cell:nth-child(3) {
    width: 30%;
}
.llm-table-cell:nth-child(4) {
    width: 30%;
}
.llm-table-cell:nth-child(5) {
    width: 15%;
}
.llm-table-cell:nth-child(6) {
    width: 5%;
}
#llm-table-header .llm-table-cell {
    color: white;
    background-color: black;
    padding: 10px;
}
.llm-url, .llm-api-key {
    width: 100%;
}
.remove-llm-btn, #dummy-remove-llm-btn {
    margin-right: 10px;
}
#confirm-removal-popup {
    width: fit-content;
    height: fit-content;
}
.large-button {
    display: block;
    width: 20%;
    height: 10%;
    font-size: 30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#start-btn {
    color: green;
    margin-left: auto;
    margin-right: auto;
}
#stop-btn {
    /* Stop button is hidden until play starts */
    display: none;
    color: red;
    margin-left: auto;
    margin-right: auto;
}
#gameplay-area {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 400px;
}
#first-player-game-progress, #second-player-game-progress {
    background-color: lightgrey;
    width: 30%;
    font-size: medium;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border: 3px solid black;
    overflow: auto;
}
#tic-tac-toe-board, #connect-four-board, #gomoku-board {
    display: table;
    width: 400px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
}
#tic-tac-toe-board {
    background-color: black;
}
#connect-four-board, #gomoku-board {
    display: none;
    border-spacing: 3px;
}
.row {
    display: table-row;
}
#tic-tac-toe-board .cell, #connect-four-board .cell, #gomoku-board .cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
#tic-tac-toe-board .cell {
    width: 33%;
    height: 33%;
    font-size: 80px;
    background-color: white;
}
#tic-tac-toe-1-1 {
    border-left: 10px solid white;
    border-top: 10px solid white;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}
#tic-tac-toe-1-2 {
    border-left: 10px solid black;
    border-top: 10px solid white;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}
#tic-tac-toe-1-3 {
    border-left: 10px solid black;
    border-top: 10px solid white;
    border-right: 10px solid white;
    border-bottom: 10px solid black;
}
#tic-tac-toe-2-1 {
    border-left: 10px solid white;
    border-top: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}
#tic-tac-toe-2-2 {
    border-left: 10px solid black;
    border-top: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
}
#tic-tac-toe-2-3 {
    border-left: 10px solid black;
    border-top: 10px solid black;
    border-right: 10px solid white;
    border-bottom: 10px solid black;
}
#tic-tac-toe-3-1 {
    border-left: 10px solid white;
    border-top: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid white;
}
#tic-tac-toe-3-2 {
    border-left: 10px solid black;
    border-top: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid white;
}
#tic-tac-toe-3-3 {
    border-left: 10px solid black;
    border-top: 10px solid black;
    border-right: 10px solid white;
    border-bottom: 10px solid white;
}
#connect-four-board {
    width: fit-content;
    background-color: #1965dd;
}
#connect-four-board .cell {
    width: 63px;
    height: 63px;
    background-color: #1965dd;
}
.connect-four-space {
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
#gomoku-board {
    width: 400px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    transform: translate(12px, 12px);
}
#gomoku-board .cell {
    width: 23px;
    height: 23px;
    background-color: #e7ae75;
    border: 3px solid #562509;
}
#gomoku-board .row:nth-child(15) .cell {
    background-color: transparent;
    border: 3px solid transparent;
}
#gomoku-board .cell:nth-child(15) {
    background-color: transparent;
    border: none;
}
.black-stone {
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transform: translate(-85%,-85%);
}
.white-stone {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transform: translate(-85%,-85%);
}
#confirm-removal-button-container {
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

/*Styling for prompt list pop up*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;       
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow-x: auto; /* Allow horizontal scrolling if needed */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.table-container {
    margin: 0 auto; /* Center the container */
    box-sizing: border-box;
}

#promptTable, #LLMTable, #gameDetailsTable {
    width: 100%;
    border: 1px solid #ddd;
}

#promptTable tbody td, #LLMTable tbody td, #gameDetailsTable tbody td {
    padding: 12px 8px;  /* Vertical and horizontal padding */
}

th {
    background-color: #f2f2f2;
}

/* Styling for prompt list, LLM list, and game details buttons */
#button-container {
    display: flex;
    justify-content: center;
}

/* Adjust width for game type column */
.game-type-column {
    width: 90px; /* Adjust this width as needed */
}