/* Set default font style for page and input fields. */
body {
    font-family: 'Tahoma', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vh;
}
h1 {
    text-align: center;
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;

}
select,
button,
input {
    font-family: 'Tahoma', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vh;
}

/* Ensure that the 'pointer' mouse cursor type is used for all buttons. */
button {
    cursor: pointer;
}

/* Styling for button containers. */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for large buttons such as the "Run", "Bulk Run", "Stop", "View Prompt List", and "LLM List" buttons. */
.large-button {
    width: fit-content;
    height: fit-content;
    padding: 1vh;
    font-size: 3vh;
    margin-top: 1vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

/* Styling for small buttons such as the ones that appear in the "bulk run warning" and "confirm LLM removal" popups. */
.small-button {
    margin: 0.5vh;
}

/* Styling for game options and info displays. */
#options-and-info { /* Styling for container that holds the options and info displays. */
    background-color: #f1f1f1;
    justify-content: center;
    border: 0.25vh solid black;
    margin-bottom: 1vh;
    font-size: 1.5vh;
}
#options-and-info-divider { /* Styling for dividing line between options and info displays. */
    background-color: black;
    height: 1px;
}
#options,
#game-info { /* Styling for options and info containers. */
    display: flex;
    padding: 0.5vh;
}
.option,
.info { /* Styling for individual options and info items. */
    margin-left: auto;
    margin-right: auto;
}
#game-count-container { /* Styling for "game count" item in options display. */
    width: 10%;
}
#game-count { /* Styling for "game count" text input field in options display. */
    width: 15%;
}

/* Statistics display styling */
#game-stats { /* Styling for game statistics display container. */
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 0.5vh;
    border: 0.25vh solid black;
    font-size: 1.5vh;
}
#stats-label,
#reset-btn-container { /* Styling for the "Stats for the Current 1st vs. 2nd Player:" label. */
    text-align: center;
    width: 8%;
    margin-left: 1%;
    margin-right: 1%;
}
#stats-table { /* Styling for the table displayed in the statistics display. */
    width: 80%;
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5vh;
    border-collapse: collapse;
}
.stats-row { /* Styling for each row of the statistics table. */
    display: table-row;
}
.stats-cell { /* Styling for each cell of the statistics table. */
    display: table-cell;
    text-align: center;
    padding: 0.5vh;
    border: 0.25vh solid black;
}
#reset-btn { /* Styling for the "Reset Stats" button. */
    width: 100%;
    height: 4vh;
}

/* Styling for page popups. */
.popup-container { /* Styling for popup containers, which allows us to display a dark background over all other page content. */
    display: none;
    position: fixed;
    z-index: 1; /* This ensures popups will be displayed in front of all other page content. */
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.75);
}
.popup { /* Styling for popups. */
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    align-items: center;
    background-color: #f1f1f1;
    font-size: 2vh;
    padding: 1vh;
    width: fit-content;
    height: fit-content;
    border: 0.25vh solid black;
}
.close { /* Popup close button styling. */
    color: #aaa;
    float: right;
    font-size: 4vh;
    font-weight: bold;
    position: relative;
}
.close:hover { /* Styling when hovering over a popup close button. */
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styling for "Manage LLMs" popup menu. */
#manage-llms { /* Styling for "Manage LLMs" popup. */
    width: fit-content;
    height: fit-content;
}
#provider-email {
    width: 30%;
    margin-bottom: 1vh;
}
#llm-name-container { /* Container for "Name" input. This will contain a dropdown for predefined models, or a text input for "Other" type models. */
    display: inline;
}
#llm-url-label,
#llm-url { /* Styling for "URL" input and label. */
    display: none; /* This is only displayed when adding an "AWS Bedrock" or "Other" type model. URL is predefined for OpenAI and Google models. */
}
#llm-supports-text-label,
#llm-supports-text,
#llm-supports-images-label,
#llm-supports-images { /* Styling for "Supports Text?" and "Supports Images?" labels and inputs. */
    display: none; /* These are only displayed when adding an "Other" type model. These values are predefined for OpenAI, Google, and AWS Bedrock models. */
}
#add-llm-btn { /* "Add" button styling for Manage LLMs popup. */
    font-size: 2vh;
    padding: 0.5vh;
}
#llm-table { /* Styling for table displayed on "Manage LLMs" popup. */
    display: block;
    height: 50vh;
    margin-top: 1vh;
    overflow: auto;
    border: 0.25vh solid black;
}
#llm-table-header-row,
#llm-table-body { /* Styling for body of the LLM table. */
    width: 100%;
    display: table-row-group;
}
.llm-table-header { /* Styling for the LLM table header row cells. */
    border-bottom: 0.25vh solid black;
}
.llm-table-row { /* Styling for each row of the LLM table. */
    width: 100%;
    display: table-row;
}
.llm-table-cell { /* Styling for each cell of the LLM table. */
    display: table-cell;
    padding: 1vh;
}
.llm-table-cell:nth-child(1),
.llm-table-cell:nth-child(5),
.llm-table-cell:nth-child(6) { /* Styling for the 1st (Type), 5th (Supports Text), and 6th (Supports Images) columns of the LLM table. */
    width: 10%;
}
.llm-table-cell:nth-child(2) { /* Styling for 2nd (Name) column of the LLM table. */
    width: 20%;
}
.llm-table-cell:nth-child(3),
.llm-table-cell:nth-child(4) { /* Styling for the 3rd and 4th columns of the LLM table. */
    width: 25%;
}
.llm-url,
.llm-api-key { /* Styling for the URL and API key text input fields in the table rows. */
    width: 98%;
}
.remove-llm-btn,
#dummy-remove-llm-btn { /* Styling for the 'X' buttons in each row of the LLM table, along with the "dummy" 'X' button shown in the instructions. */
    margin-right: 1vh;
}
#confirm-removal-popup { /* Styling for the popup that asks the user if they are sure they want to remove an LLM from the list. */
    width: fit-content;
    height: fit-content;
}

/* Styling for game buttons and options windows on either side of the game buttons. */
#buttons-and-progress-options-container { /* Styling for the container that holds the Run/Stop buttons as well as the options displays on either side of them. */
    display: flex;
    justify-content: center;
    align-items: center;
}
#progress-display-type-container,
#option-checkbox-container { /* Styling for the options displays on either side of the gameplay buttons. */
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 1vh;
    background-color: #f1f1f1;
    font-size: 2vh;
    width: 100%;
    height: 8vh;
    border: 0.25vh solid black;
}
#progress-display-type { /* Styling for the "Progress Display Type" options display. */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
}
#progress-display-type label { /* Styling for the radio button labels in the "Progress Display Type" display. */
    margin-right: 2vh;
}
.progress-image { /* Styling for the images shown for the "image" progress display type. */
    width: 30vh;
    height: 30vh;
}
#gameplay-button-container { /* Styling for the container that holds the buttons related to gameplay (Run, Bulk Run, and Stop) */
    width: 65vh;
}
#run-btn,
#bulk-run-btn { /* Styling for the "Run" and "Bulk Run" buttons. */
    color: green;
    width: 29vh;
    font-size: 5vh;
}
#stop-btn { /* Styling for the "Stop" button, which is only shown while gameplay is active. */
    display: none;
    color: red;
    width: 60vh;
    font-size: 5vh;
}
#progress-auto-scroll,
#bulk-run-same-players {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75vh;

}
#progress-auto-scroll { /* Styling for the container that holds the "Auto-Scroll Progress Displays" and "Allow LLMs to Play Against Themselves in Bulk Runs" checkboxes. */
    margin-bottom: 1vh;
}
#empty-email-warning-popup { /* Styling for "empty email" warning popup. */
    text-align: center;
}

/* Styling for game boards and progress displays. */
#gameplay-area { /* Styling for area that contains game board and progress displays. */
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    height: 60vh;
}
.progress-display {
    background-color: #f1f1f1;
    width: 100%;
    font-size: 2vh;
    padding: 1vh;
    border: 0.25vh solid black;
    overflow-y: auto;
}
#tic-tac-toe-board,
#connect-four-board,
#gomoku-board { /* Tic-Tac-Toe, Connect-Four, and Gomoku board styling. */
    display: table;
    width: 60vh;
    height: 60vh;
    margin-right: 1vh;
    margin-left: 1vh;
}
#tic-tac-toe-board .board-row,
#connect-four-board .board-row,
#gomoku-board .board-row { /* Styling for Tic-Tac-Toe, Connect-Four, and Gomoku game board rows. */
    display: table-row;
}
#tic-tac-toe-board .board-cell,
#connect-four-board .board-cell,
#gomoku-board .board-cell { /* Styling for Tic-Tac-Toe, Connect-Four, and Gomoku game board cells. */
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
/* Tic-Tac-Toe styling. */
#tic-tac-toe-board .board-cell { /* Styling for all Tic-Tac-Toe board cells. */
    width: 19vh;
    height: 19vh;
    font-size: 13vh;
    background-color: white;
}
/* Styling for individual tic-tac-toe cells. Each cell requires a different set of borders. */
#tic-tac-toe-1-1 {
    border-left: 0.5vh solid white;
    border-top: 0.5vh solid white;
    border-right: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
}
#tic-tac-toe-1-2 {
    border-left: 0.5vh solid black;
    border-top: 0.5vh solid white;
    border-right: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
}
#tic-tac-toe-1-3 {
    border-left: 0.5vh solid black;
    border-top: 0.5vh solid white;
    border-right: 0.5vh solid white;
    border-bottom: 0.5vh solid black;
}
#tic-tac-toe-2-1 {
    border-left: 0.5vh solid white;
    border-top: 0.5vh solid black;
    border-right: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
}
#tic-tac-toe-2-2 {
    border-left: 0.5vh solid black;
    border-top: 0.5vh solid black;
    border-right: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
}
#tic-tac-toe-2-3 {
    border-left: 0.5vh solid black;
    border-top: 0.5vh solid black;
    border-right: 0.5vh solid white;
    border-bottom: 0.5vh solid black;
}
#tic-tac-toe-3-1 {
    border-left: 0.5vh solid white;
    border-top: 0.5vh solid black;
    border-right: 0.5vh solid black;
    border-bottom: 0.5vh solid white;
}
#tic-tac-toe-3-2 {
    border-left: 0.5vh solid black;
    border-top: 0.5vh solid black;
    border-right: 0.5vh solid black;
    border-bottom: 0.5vh solid white;
}
#tic-tac-toe-3-3 {
    border-left: 0.5vh solid black;
    border-top: 0.5vh solid black;
    border-right: 0.5vh solid white;
    border-bottom: 0.5vh solid white;
}
/* Connect-Four styling. */
#connect-four-board { /* Styling for Connect-Four board. */
    background-color: #1965dd;
    border-spacing: 0.5vh;
}
#connect-four-board .board-cell { /* Styling for every rectangular cell of the Connect-Four board. */
    width: 9vh;
    height: 8vh;
    background-color: #1965dd;
}
.connect-four-space { /* Styling for the circles within the rectangular cells of the Connect-Four board. */
    width: 7vh;
    height: 7vh;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}
/* Gomoku styling. */
#gomoku-board { /* Gomoku board styling. */
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    transform: translate(1.89vh, 1.89vh);
}
#gomoku-board .board-cell { /* Styling for every cell in the Gomoku board. */
    width: 3.78vh;
    height: 3.78vh;
    min-width: 3.78vh;
    min-height: 3.78vh;
    background-color: #e7ae75;
    border: 0.2vh solid #562509;
}
/* Internally we need to have a 15x15-square board, but we only want to display a 14x14-square board. */
/* We hide the 15th row and columns' squares, but still show any stones placed in them. */
#gomoku-board .board-row:nth-child(15) .board-cell { /* Hide every cell in the last row. */
    background-color: transparent;
    border: 0.2vh solid transparent;
}
#gomoku-board .board-cell:nth-child(15) { /* Hide every cell in the last column. */
    background-color: transparent;
    border: 0.2vh solid transparent;
}
.black-stone,
.white-stone { /* Styling for both black and white Gomoku stones. */
    width: 2.5vh;
    height: 2.5vh;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transform: translate(-2vh,-2vh);
}
.white-stone { /* Styling for white Gomoku stones. */
    background-color: white;
}

/* Styling for content of popups that display for the buttons on the bottom of the screen. */
.modal-content {
    position: relative;
    background-color: white;
    margin: 5% auto;
    padding: 1vh;
    border: 0.25vh solid black;
    width: 80%;
    max-width: 90%;
}
.table-container { /* Styling for the tables that display when clicking the buttons on the bottom of the screen. */
    margin: 0 auto; /* Center the container */
    box-sizing: border-box;
}
#promptTable,
#LLMTable,
#gameDetailsTable,
#faqTable { /* Styling for the individual popup tables. */
    width: 100%;
    border: 0.25vh solid black;
}
#promptTable th,
#LLMTable th,
#gameDetailsTable th,
#faqTable th { /* Styling for popup table headers. */
    border-bottom: 0.25vh solid black;
}
#promptTable td,
#LLMTable td,
#gameDetailsTable td,
#faqTable td { /* Styling for popup table cells. */
    padding: 1vh;
}
/* Adjust width for "game type" column of the prompt table. */
#game-type-column {
    width: 10%;
}

.modal-content iframe {
    width: 50%; /* Responsive width */
    height: auto; /* Height is set automatically based on aspect ratio */
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
}