body {
    font-family: 'Tahoma', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vh;
}

h1 {
    text-align: center;
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.user-guide-container {
    background-color: #f1f1f1;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    padding: 1vh;
    border: 0.25vh solid black;
    font-size: 2vh;
}

.user-guide-container iframe {
    display: block;
    width: 80%; /* Responsive width */
    height: auto; /* Height is set automatically based on aspect ratio */
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
}

