body {
    font-family: 'Tahoma', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vh;
    background-color: #f1f1f1;
}

.user-guide-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.user-guide-container h1,
.user-guide-container h2 {
    text-align: center;
}

.user-guide-container iframe {
    display: block;
    width: 100%; /* Responsive width */
    height: auto; /* Height is set automatically based on aspect ratio */
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
}

