/* Set default font style for page and input fields. */
body {
    font-family: 'Tahoma', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5vh;
}
h1 {
    text-align: center;
    font-size: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* Guide content styling */
#add-games-guide {
    background-color: #f1f1f1;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    padding: 1vh;
    border: 0.25vh solid black;
    font-size: 2vh;
}

.code-snippet {
    background-color: #1e1f22;
    color: #f1f1f1;
    width: fit-content;
    margin: 1vh;
}
.green {
    color: #6aab73;
}
.yellow {
    color: #d5b778;
}
.gray {
    color: #73777e
}
.highlight {
    color: #919191;
    background-color: #ffff00;
}
.cyan {
    color: #2aacb8;
}
.orange {
    color: #cf8e6d;
}
.blue {
    color: #57aaf7;
}
.pink {
   color: #9b6292;
}